<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://132.178.129.2:3306/chatterDB</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">andrew</property>
    <property name="connection.password">pass</property>
      <mapping class="com.andrewcode.rest.Models.Tweet"/>
      <mapping class="com.andrewcode.rest.Models.User"/>
      <mapping class="com.andrewcode.rest.Models.Friends"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>